.slider-btn-container {
    position: absolute;
    z-index: 999;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}




.slider-btn-container .right-slider-btn,
.slider-btn-container .left-slider-btn {
    background: #646E73;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn-container .right-slider-btn i,
.slider-btn-container .left-slider-btn i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;

}

.slider-btn {
    position: absolute;
    bottom: 18%;
    z-index: 999;
    display: flex;
    left: 10%;
    height: auto;
}

.slider-btn a {
    box-shadow: 6px 10px 24px 0px #cfcfcf;
    display: block;
    width: auto;
    cursor: pointer;
    padding: 14px 35px;
}

.slider-btn a:nth-child(1) {
    background: #ffffff;
    background: #ffffff;
    border-radius: 25px;
    margin-right: 10px;
    color: #0BCBEF;
}

.slider-btn a:nth-child(2) {
    background-color: #0BCBEF;
    color: #fff;
    border-radius: 25px;
}

.team-slider-btn div {
    height: 52px;
    width: 80px;
    line-height: 52px;
    border-radius: 26px;
    border: 1px solid #376494;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.team-slider-btn div:hover {
    cursor: pointer;
    background: #376494;
    color: #fff;
}





.team-slider-btn div i {
    display: flex;
    justify-content: center;
    align-items: center;

}


.services-btn-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    display: none;
    justify-content: space-between;
    width: 100%;
}


.services-btn-container .right-slider-btn,
.services-btn-container .left-slider-btn {
    background: transparent;
    height: 40px;
    width: 40px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    margin: 0 -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.services-btn-container .right-slider-btn i,
.services-btn-container .left-slider-btn i {
    color: #000000;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-auto {
    height: auto;
}




.commercial_cleaning_left .title {
    font-size: 22px !important;
}

.commercial_cleaning_left h2 {
    font-size: 18px !important;
    text-align: justify;
}

.commercial_cleaning_left p {
    font-size: 14px !important;
    text-align: justify;
}

.h-full {
    height: 100%;
}

.side-line {
    width: 4px;
    height: 100%;
    background: #EEEEEE;
    top: 30px;
    left: -73px;
}

.mt-5rem {
    margin-top: 5rem;
}

.side-line-green {
    background: #0BCBEF;
    width: 4px;
    height: 0px;
    top: 30px;
    left: -73px;
}

.team-two_container {
    display: flex;
    justify-content: space-between;
}

.commercial_cleaning_left .checkbox {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 50%;
    background: #EEEEEE;
    position: absolute;
    top: 0px;
    left: -95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commercial_cleaning_left .checkbox i {
    color: #376494;
    font-weight: bold;
    font-size: 1.4rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.commercial_cleaning_right {
    background-color: #E6F0FA;
    padding: 3rem;
    border-top-left-radius: 60px;
}

.commercial_cleaning_right .title {
    color: #4A4A88;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
}

.commercial_cleaning_right .form-control-custom {
    display: block;
    width: 100%;
    padding: 12px .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
}

.commercial_cleaning_right input:focus,
.commercial_cleaning_right select:focus {
    border: 2px solid #0BCBEF;
    outline: none;
}

.commercial_cleaning_right h2 {
    color: #00000080;
    font-size: 16px;
    margin: 15px 0;
}

.main-menu__toggle-menu {
    padding: 0 30px;
    cursor: pointer;
    display: block;
}

.main-menu__toggle-menu i {
    font-size: 25px;
    color: #ffffff;
}

.get_my_quote_btn {
    background-color: #3f51b5;
    color: #ffffff;
}

.get_my_quote_btn:hover {
    color: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}



.gellary_container a {
    margin: 3px;
    display: inline-block;
}

.gellary_container a img {
    width: auto;
}

.lightbox {
    z-index: 999999999 !important;
}

/* media tag devices:start */
/*  320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .slider-btn-container {
        top: 14%;
    }

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }


    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        display: none;
    }


    .main-menu__logo img {
        width: 40px;
    }

    .main-menu__right {
        padding: 12px 0;
    }

    .main-header-top-gap {
        margin-top: 54px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .services-two {
        padding: 30px 0 30px;
    }

    .scroll-to-top {
        width: 60px;
        height: 60px;
    }

    .team-slider-btn div {
        display: none;
    }

    .team-two_container {
        flex-direction: column;
    }

    .team-two {
        padding: 0 0 90px;
    }

    .commercial_cleaning_right_container {
        margin-top: 75px !important;
    }

    .gellary_container a img {
        width: 100%;
    }

    .gellary_container a {
        width: -webkit-fill-available;
    }




}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }

    .slider-btn-container {
        top: 25%;
    }

    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        padding: 2px 10px;
        font-size: 12px;
    }

    .main-menu__logo img {
        width: 40px;
    }

    .main-menu__right {
        padding: 15px 0;
    }

    .main-header-top-gap {
        margin-top: 60px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .commercial_cleaning_right_container {
        margin-top: 4.5rem !important;
    }

}

/* 768px iPads, Tablets */
@media only screen and (min-width: 768px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .main-menu__logo img {
        width: 60px;
    }

    .main-menu__right {
        padding: 15px 0;
    }

    .main-header-top-gap {
        margin-top: 70px;
    }

    .services-btn-container {
        display: flex;
    }

    .commercial_cleaning_right_container {
        margin-top: 0 !important;
    }
}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .main-menu__btn {
        padding: 8px 20px 6px;
        border-radius: 14px;
        font-size: 14px;
    }

    .main-header-top-gap {
        margin-top: 70px;
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main-menu__toggle-menu {
        display: block;
    }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
    .slider-btn {
        bottom: 18%;
        left: 10%;
    }

    .slider-btn a {
        padding: 14px 35px;
    }

    .main-menu__toggle-menu {
        display: none;
    }
}

/* media tag devices:end */