.slider-btn-container {
    position: absolute;
    z-index: 999;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}




.slider-btn-container .right-slider-btn,
.slider-btn-container .left-slider-btn {
    background: #646E73;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn-container .right-slider-btn i,
.slider-btn-container .left-slider-btn i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;

}

.slider-btn {
    position: absolute;
    bottom: 18%;
    z-index: 999;
    display: flex;
    left: 10%;
    height: auto;
}

.slider-btn a {
    box-shadow: 6px 10px 24px 0px #cfcfcf;
    display: block;
    width: auto;
    cursor: pointer;
    padding: 14px 35px;
}

.slider-btn a:nth-child(1) {
    background: #ffffff;
    background: #ffffff;
    border-radius: 25px;
    margin-right: 10px;
    color: #0BCBEF;
}

.slider-btn a:nth-child(2) {
    background-color: #0BCBEF;
    color: #fff;
    border-radius: 25px;
}

.team-slider-btn div {
    height: 52px;
    width: 80px;
    line-height: 52px;
    border-radius: 26px;
    border: 1px solid #376494;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.team-slider-btn div:hover {
    cursor: pointer;
    background: #376494;
    color: #fff;
}





.team-slider-btn div i {
    display: flex;
    justify-content: center;
    align-items: center;

}


.services-btn-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    display: none;
    justify-content: space-between;
    width: 100%;
}


.services-btn-container .right-slider-btn,
.services-btn-container .left-slider-btn {
    background: transparent;
    height: 40px;
    width: 40px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    margin: 0 -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.services-btn-container .right-slider-btn i,
.services-btn-container .left-slider-btn i {
    color: #000000;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-auto {
    height: auto;
}




.commercial_cleaning_left .title {
    font-size: 22px !important;
}

.commercial_cleaning_left h2 {
    font-size: 18px !important;
    text-align: justify;
}

.commercial_cleaning_left p {
    font-size: 14px !important;
    text-align: justify;
}

.h-full {
    height: 100%;
}

.side-line {
    width: 4px;
    height: 100%;
    background: #EEEEEE;
    top: 30px;
    left: -73px;
}



.mt-5rem {
    margin-top: 5rem;
}

.side-line-green {
    width: 4px;
    height: 10px;
    background: #0BCBEF;
    position: absolute;
    top: 30px;
    left: -73px;
}

.team-two_container {
    display: flex;
    justify-content: space-between;
}

.commercial_cleaning_left .checkbox {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 50%;
    background: #EEEEEE;
    position: absolute;
    top: 0px;
    left: -95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commercial_cleaning_left .checkbox i {
    color: #376494;
    font-weight: bold;
    font-size: 1.4rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.commercial_cleaning_right {
    background-color: #E6F0FA;
    padding: 3rem;
    border-top-left-radius: 60px;
}

.commercial_cleaning_right .title {
    color: #4A4A88;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
}

.commercial_cleaning_right .form-control-custom {
    display: block;
    width: 100%;
    padding: 12px .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
}

.commercial_cleaning_right input:focus,
.commercial_cleaning_right select:focus {
    border: 2px solid #0BCBEF;
    outline: none;
}

.commercial_cleaning_right h2 {
    color: #00000080;
    font-size: 16px;
    margin: 15px 0;
}

.main-menu__toggle-menu {
    padding: 0 30px;
    cursor: pointer;
    display: block;
}

.main-menu__toggle-menu i {
    font-size: 25px;
    color: #ffffff;
}

.get_my_quote_btn {
    background-color: #3f51b5;
    color: #ffffff;
}

.get_my_quote_btn:hover {
    color: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}



.gellary_container a {
    margin: 3px;
    display: inline-block;
}

.gellary_container a img {
    width: auto;
}

.lightbox {
    z-index: 999999999 !important;
}

.breadcrumb-item::after {
    content: '\A';
    background: #5F788C;
    height: 6px;
    width: 6px;
    display: inline-block;
    position: relative;
    top: -2px;
    left: 5px;
}

.img-rounded {
    border-radius: 10px;
}


.container-custom {
    padding: 0 140px;
}

.check_price_availability_btn {
    padding: 5px 10px;
    background: #0B99EA;
    color: #ffffff;
}

.check_price_availability_btn:hover {
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(117, 117, 117, 1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(117, 117, 117, 1);
    box-shadow: 3px 3px 10px 5px rgba(117, 117, 117, 1);
}

.sub_cleaning_review_container,
.review_container {
    display: flex;
    margin-top: 1.5rem !important;
}

.sub_cleaning_review_container h3,
.review_container h3 {
    font-size: 18px;
}

.sub_cleaning_review_container h3 {
    color: #ffffff;
}

.star_container_main {
    top: -6px;
    position: relative;
    display: flex;
}

.star_container {
    height: 30px;
    width: 30px;
    background-color: #058d5f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.star_container i {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-5-white {
    border: 5px solid #ffffff;
    border-radius: 10px;
}

.nav-pills .nav-item {
    margin-left: 10px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #0150EE;
    background-color: transparent !important;
    border-bottom: 3px solid #0150EE;
    border-radius: 0%;
}

.logistic_tab_box {
    padding-top: 2px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 0px 7px 0px rgba(117, 117, 117, 1);
}

.mr-1 {
    margin-right: 0.5rem;
}

.alert_container {
    background-color: #a9defd;
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.alert_container i {
    color: #005282;
}

.alert_container h3 {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 600;
}

.item_box {
    background: #ffffff;
    padding: 12px 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 1px 5px 0px rgba(117, 117, 117, 1);
    border-radius: 4px;
}

.item_box i {
    margin-right: 10px;
}

.item_box:hover {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(117, 117, 117, 1);
    box-shadow: 0px 1px 10px 0px rgba(117, 117, 117, 1);
    cursor: pointer;
}

.main_image_logistic_left .image_container_1 {
    position: relative;
}

.main_image_logistic_left .image_container_2 {
    position: absolute;
    top: 6rem;
    left: -6rem;
}

.contract-cleaning-services {
    display: flex;
    margin-left: 6rem;
}

.main_image_logistic_right .image_2 {
    position: absolute;
    top: 6rem;
    left: -6rem;
}

.scroll-to-top {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.scroll-to-top i {
    display: flex;
    justify-content: center;
    align-items: center !important;
}


/* exclusive-features */
.exclusive-features {
    margin-top: 5px;
    padding: 5px 10px;
    background: #EBF0EB;
}

.exclusive-features .upper-box {
    background: #ffffff;
    padding: 10px;
}



.exclusive-features .upper-box .slug_title .slug {
    font-size: 12px;
    color: #004f7a;
    font-weight: bold;
}

.exclusive-features .upper-box .slug_title .slug .line {
    height: 2px;
    width: 1.4rem;
    margin-top: 4px;
    background: #004f7a;
}

.exclusive-features .upper-box .slug_title .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
}

.exclusive-features .upper-box .content-container h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}


.exclusive-features .content-box .item div {
    display: flex;
    cursor: pointer;
    margin: 5px 0;
}



.exclusive-features .content-box .item div span {
    font-size: 14px;
    margin: 0 5px;
}

.exclusive-features .content-box .item div .indicate {
    height: 16px;
    width: 16px;
    background: #afafaf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-features .content-box .item-detials {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

.exclusive-features .content-box .active div .indicate {
    background: #004f7a;
}

.exclusive-features .content-box .active div .indicate div {
    background: #c0c0c0 !important;
}

.exclusive-features .content-box .active,
.exclusive-features .content-box .item:hover {
    transition: all 0.3s ease-in-out;
    color: #005282;
    font-weight: 600;
}

.exclusive-features .content-box .item:hover~.exclusive-features .content-box .item div {
    display: none !important;
}

.exclusive-features .content-box .item .item-detials {
    display: none;
}

.exclusive-features .content-box .active .item-detials {
    display: block;
    transition: all 0.4s ease-in-out;
}



.exclusive-features .content-box .item div .indicate div {
    height: 6px;
    width: 6px;
    background: #004f7a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore_more_btn {
    background: #004f7a;
    height: 3.4rem;
    width: auto;
    padding: 0 30px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 14px;
}

.explore_more_btn:hover {
    background: #003f60;
    color: #ffffff;
}


.cleaning_sub_1 .section_one .left_side {

    position: relative;
}


.cleaning_sub_1 .section_one .left_side {
    height: auto;
    width: auto;
    position: relative;
    padding: 10px 2rem;
    top: 0;
}



.cleaning_sub_1 .section_one h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.cleaning_sub_1 .section_one p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}

.cleaning_sub_1 .section_one ul li {
    list-style: none;
    margin: 0.5rem 0;
}

.cleaning_sub_1 .section_one ul li i {
    margin: 0 3px 0 -33px;
}

.cleaning_sub_1 .section_one ul li span,
.cleaning_sub_1 .section_one ul li i {
    color: #ffffff;
}

.section_one {
    background-image: url("../../bg_sub_cleaning.png");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.req-a-quote-btn {
    padding: 4px 30px;
    border-radius: 5px;
    background: #0281ca;
    font-size: 16px;
    color: #ffffff;
    box-shadow: #003f60 0px 2px;
    transition: all 0.2s ease-in-out;
}

.req-a-quote-btn:hover {
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
}


/* high_standards */
.high_standards .main_image {
    position: relative;
}

.high_standards .main_image img {
    border-radius: 15px;
    border-top-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
}

.high_standards .image_overlay {
    position: absolute;
    bottom: 4rem;
    right: 4.5rem;
}

.high_standards .image_overlay img {
    border-radius: 15px;
    border: 4px solid #ffffff;
}




.trust_our_expertise .left_side p,
.high_standards .right_container p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.trust_our_expertise .left_side h1,
.high_standards .right_container h1 {
    font-size: 26px;
    font-weight: bold;
}

.trust_our_expertise .left_side h2,
.high_standards .right_container ul li,
.high_standards .right_container h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    text-align: justify;
}

.trust_our_expertise .right_side{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.trust_our_expertise .right_side h4{
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
}

.trust_our_expertise .right_side .main_image{
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: auto;
    width: 20rem;
    display: flex;
    justify-content: end;
    margin: auto;
}

.trust_our_expertise .right_side .iso_certified_img{
    border-radius: 15px;
}

.trust_our_expertise .right_side .recognitions img{
    border-radius: 5px;
    margin: 5px;
}

.high_standards .right_container ul li {
    list-style: none;
    margin-left: -2rem;
}

.high_standards .right_container ul li i {
    margin-right: 1rem;
}

.high_standards .right_container .collapse_list .list-3:not(.show),
.high_standards .right_container .collapse_list .list-4:not(.show),
.high_standards .right_container .collapse_list .list-5:not(.show),
.high_standards .right_container .collapse_list .list-6:not(.show) {
    display: none;
}

.high_standards .right_container .see_more{
    cursor: pointer;
    color: #005282;
    font-size: 12px;
    padding: 0!important;
    font-weight: 800;
}

.high_standards .right_container .see_more:hover{
    text-decoration: underline;
}


.designed_to_meet_your_needs .slug{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.designed_to_meet_your_needs .title{
    font-size: 26px;
    font-weight: bold;
}
.designed_to_meet_your_needs .des{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    text-align: justify;
}

.designed_to_meet_your_needs .box{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: #bfbfbf 2px 1px 5px 1px;
    padding-bottom: 10px;
}

.designed_to_meet_your_needs .box .content-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: capitalize;
}

.designed_to_meet_your_needs .box ul li{
    list-style: none;
    margin-left: -20px;
    font-size: 14px;
}

.designed_to_meet_your_needs .box ul li i{
    margin-right: 3px;
}



.designed_to_meet_your_needs .box img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* media tag devices:start */
/*  320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .slider-btn-container {
        top: 14%;
    }

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }


    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        display: none;
    }


    .main-menu__logo img {
        width: 40px;
    }

    .main-menu__right {
        padding: 12px 0;
    }

    .main-header-top-gap {
        margin-top: 54px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .services-two {
        padding: 30px 0 30px;
    }



    .team-slider-btn div {
        display: none;
    }

    .team-two_container {
        flex-direction: column;
    }

    .team-two {
        padding: 0 0 90px;
    }

    .commercial_cleaning_right_container {
        margin-top: 75px !important;
    }

    .gellary_container a img {
        width: 100%;
    }

    .gellary_container a {
        width: -webkit-fill-available;
    }

    .main_image_logistic_right {
        display: none;
    }

    .main_image_logistic_left {
        display: block;
    }

    .main_image_logistic_left img {
        height: auto;
        width: 100%;
    }

    .main_image_logistic_left .image_container_2 {
        top: 0;
        left: 0;
        margin: 0.7rem 0;
        position: relative;
    }

    .border-5-white {
        border: 0px solid #ffffff;
        border-radius: 10px;
    }

    .sub_cleaning_review_container,
    .review_container {
        display: block;
    }

    .star_container_main {
        top: 0;
        margin: 5px 0;
    }

    .commercial_cleaning_left .checkbox {
        height: 2rem !important;
        width: 2rem !important;
        left: -53px;
    }

    .side-line-green {
        left: -38px;
    }

    .commercial_cleaning_left .checkbox i {
        font-size: 18px !important;
    }

    .commercial_cleaning_right {
        padding: 12px;
        border-top-left-radius: 30px;
    }

    .side-line {
        left: -38px;
    }

    .contract-cleaning-services {
        margin-left: 3rem;
    }

    .scroll-to-top {
        width: 40px;
        height: 40px;
    }


    .explore_more_btn {
        height: 2.5rem;
        border-radius: 40px;
        font-size: 12px;
    }


    .section_one {
        margin: auto;
    }

    .cleaning_sub_1 .section_one .left_side {
        padding: 4px 5px;
    }

    .high_standards .right_container h1 {
        text-align: left;
    }

    .high_standards .main_image img,
    .high_standards .image_overlay img {
        border-radius: 10px;
    }


    .high_standards .image_overlay img,
    .high_standards .main_image img {
        width: 18rem;
    }

    .high_standards .image_overlay {
        position: relative;
        bottom: 0;
        right: 0;
    }


    .high_standards .image_overlay,
    .high_standards .main_image {
        margin: auto;
        display: flex;
        justify-content: center;
    }



    .designed_to_meet_your_needs .box{
        margin: 10px 0;
    }




}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }

    .slider-btn-container {
        top: 25%;
    }

    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        padding: 2px 10px;
        font-size: 12px;
    }

    .main-menu__logo img {
        width: 40px;
    }

    .main-menu__right {
        padding: 15px 0;
    }

    .main-header-top-gap {
        margin-top: 60px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .commercial_cleaning_right_container {
        margin-top: 4.5rem !important;
    }

    .main_image_logistic_right {
        display: none;
    }

    .main_image_logistic_left {
        display: block;
    }

    .main_image_logistic_left img {
        height: auto;
        width: 80%;
        display: flex;
        margin: auto;
    }

    .main_image_logistic_left .image_container_2 {
        position: relative;
        top: -3rem;
        left: -2rem;
    }

    .main_image_logistic_left .image_container_2 img {
        border: 4px solid #ffffff;
    }

    .border-5-white {
        border: none;
    }

    .team-two,
    .services-two {
        padding: 30px 0 30px;
    }

    .scroll-to-top {
        width: 40px;
        height: 40px;
    }


    .explore_more_btn {
        height: 2.5rem;
        border-radius: 40px;
        font-size: 12px;
    }

    .designed_to_meet_your_needs .box{
        margin: 10px 0;
    }

}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 552px !important;
    }

    .scroll-to-top {
        width: 40px;
        height: 40px;
    }
}

/* 768px iPads, Tablets */
@media only screen and (min-width: 768px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .main-menu__logo img {
        width: 60px;
    }

    .main-menu__right {
        padding: 15px 0;
    }

    .main-header-top-gap {
        margin-top: 70px;
    }

    .services-btn-container {
        display: flex;
    }

    .commercial_cleaning_right_container {
        margin-top: 0 !important;
    }

    .main_image_logistic_right {
        display: block;
    }

    .main_image_logistic_left {
        display: none;
    }

    .main_image_logistic_right img {
        width: 100%;
        height: 8rem;
    }

    .main_image_logistic_right .image_2 {
        position: relative;
        top: 1rem;
        left: 0;
    }

    .sub_cleaning_review_container,
    .review_container {
        display: block;

    }

    .sub_cleaning_review_container .star_container_main,
    .review_container .star_container_main {
        margin-top: 10px;
    }

    .item_box {
        padding: 6px 16px;
    }

    .container,
    .container-sm {
        max-width: 720px !important;
    }


    .sub_cleaning_review_container h3,
    .review_container h3 {
        line-height: 24px;
    }

    .scroll-to-top {
        width: 40px;
        height: 40px;
    }



    .high_standards .main_image img {
        width: 18rem;
        height: 30rem;

    }

    .high_standards .image_overlay {
        bottom: 4rem;
        right: 0.5rem;
    }

    .high_standards .image_overlay img {
        width: 10rem;
    }

    .designed_to_meet_your_needs .box{
        margin: 10px 0;
    }



}


/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }

    .main-menu__toggle-menu {
        display: block;
    }

    .main-menu__btn {
        padding: 8px 20px 6px;
        border-radius: 14px;
        font-size: 14px;
    }

    .main-header-top-gap {
        margin-top: 70px;
    }

    .main_image_logistic_right img {
        width: 100%;
        height: 10rem;
    }

    .review_container {
        display: block;
    }

    .star_container_main {
        top: 2px;
    }





}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px !important;
    }

    .main_image_logistic_right .image_2 {
        position: absolute;
        top: 6rem;
        left: -3rem;
    }

    .high_standards .main_image img {
        width: auto;
        height: auto;
    }

    .high_standards .image_overlay {
        position: absolute;
        bottom: 4rem;
        right: 4.5rem;
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main-menu__toggle-menu {
        display: block;
    }

    .main_image_logistic_left {
        display: none;
    }

    .main_image_logistic_right img {
        width: 90%;
        height: auto;
    }

    .main_image_logistic_right .image_2 {
        position: absolute;
        top: 6rem;
        left: -6rem;
    }

    .border-5-white {
        border: none
    }

    .main_image_logistic_right .image_2 img {
        border: 4px solid #ffffff;
    }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
    .slider-btn {
        bottom: 18%;
        left: 10%;
    }

    .slider-btn a {
        padding: 14px 35px;
    }

    .main_image_logistic_left {
        display: none;
    }

    .main-menu__toggle-menu {
        display: none;
    }

    .main_image_logistic_right img {
        width: 100%;
        height: auto;
    }

    .main_image_logistic_right .image_2 {
        position: relative;
        top: -8rem;
        left: -5rem;
    }

    .border-5-white {
        border: none
    }

    .main_image_logistic_right .image_2 img {
        border: 4px solid #ffffff;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1140px !important;
    }
}


@media screen and (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1320px !important;
    }
}

/* media tag devices:end */