.slider-btn-container {
    position: absolute;
    z-index: 999;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}




.slider-btn-container .right-slider-btn,
.slider-btn-container .left-slider-btn {
    background: #646E73;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn-container .right-slider-btn i,
.slider-btn-container .left-slider-btn i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;

}

.slider-btn {
    position: absolute;
    bottom: 18%;
    z-index: 999;
    display: flex;
    left: 10%;
    height: auto;
}

.slider-btn a {
    box-shadow: 6px 10px 24px 0px #cfcfcf;
    display: block;
    width: auto;
    cursor: pointer;
    padding: 14px 35px;
}

.slider-btn a:nth-child(1) {
    background: #ffffff;
    background: #ffffff;
    border-radius: 25px;
    margin-right: 10px;
    color: #3764EB;
}

.slider-btn a:nth-child(2) {
    background-color: #3764EB;
    color: #fff;
    border-radius: 25px;
}

.team-slider-btn div {
    height: 52px;
    width: 80px;
    line-height: 52px;
    border-radius: 26px;
    border: 1px solid #196164;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.team-slider-btn div:hover {
    cursor: pointer;
    background: #196164;
    color: #fff;
}





.team-slider-btn div i {
    display: flex;
    justify-content: center;
    align-items: center;

}


.services-btn-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.services-btn-container .right-slider-btn,
.services-btn-container .left-slider-btn {
    background: transparent;
    height: 40px;
    width: 40px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    margin: 0 -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.services-btn-container .right-slider-btn i,
.services-btn-container .left-slider-btn i {
    color: #000000;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-auto {
    height: auto;
}



.commercial_cleaning_left {}

.commercial_cleaning_left .title {
    font-size: 22px !important;
}

.commercial_cleaning_left h2 {
    font-size: 18px !important;
}

.h-full{
    height: 100%;
}

.side-line {
    width: 4px;
    height: 100%;
    background: #EEEEEE;
    top: 30px;
    left: -73px;
}

.mt-5rem {
    margin-top: 5rem;
}

.side-line-green{
    background: #196164;
    width: 4px;
    height: 0px;
    top: 30px;
    left: -73px;
}

.commercial_cleaning_left .checkbox {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 50%;
    background: #EEEEEE;
    position: absolute;
    top: 0px;
    left: -95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commercial_cleaning_left .checkbox i {
    color: #196164;
    font-weight: bold;
    font-size: 1.4rem!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media tag devices:start */
/*  320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .slider-btn-container {
        top: 14%;
    }

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }


    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        padding: 2px 7px;
        font-size: 10px;
    }


}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .slider-btn-container .right-slider-btn,
    .slider-btn-container .left-slider-btn {
        height: 25px;
        width: 25px;
        margin: 25px;
    }

    .slider-btn-container .right-slider-btn i,
    .slider-btn-container .left-slider-btn i {
        font-size: 14px;
    }

    .slider-btn-container {
        top: 25%;
    }

    .slider-btn {
        bottom: 10%;
        left: 15%;
    }

    .slider-btn a {
        padding: 2px 10px;
        font-size: 12px;
    }
}

/* 768px iPads, Tablets */
@media only screen and (min-width: 768px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }
}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .slider-btn {
        bottom: 8%;
        left: 10%;
    }

    .slider-btn a {
        padding: 5px 15px;
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
    .slider-btn {
        bottom: 18%;
        left: 10%;
    }

    .slider-btn a {
        padding: 14px 35px;
    }
}

/* media tag devices:end */